
@import "blocks/header";
@import "blocks/promo";
@import "blocks/_search";
@import "blocks/_categories";
@import "blocks/_products";
@import "blocks/_banner";
@import "blocks/_footer";
@import "blocks/_footer";
@import "blocks/_breadcrumbs";
@import "blocks/_product-card";

html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:active,
a:focus,
a {
    text-decoration: none;
    outline: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

button {
    outline: none;
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    color: #2f3035;
    font-family: sans-serif;
    overflow-x: hidden;
    min-width: 320px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.mobile-overflow{
    @media screen and (max-width: 996px) {
        width: 800px;
      }
}